@charset "utf-8";

@import "variables";
@import "reset-css";


footer {
  width:100%;
  height:350px;
  background-color:$main-color;
  position:relative;
}

.footer-logo {
  width:120px;
  height:120px;
  text-align:center;
  font-size:5em;
}

.site-map {
  position:absolute;
  top:20px;
  right:50px;
  width:400px;

  
  display:flex;
  justify-content:space-between;
  align-items:flex-start;

  ul{
    font-weight:bold;
    li {
      font-weight:normal;
      a {
        display:inline-block;
        width:100%;
        height:100%;
        padding:10px 0;
        &:hover {
          background-color:lighten($main-color, 20%);
        }
      }
    }
  }
}

small {
  position:absolute;
  bottom:0;
  width:100%;
  padding:20px 0;
  color:#777;
  text-align:center;
}