@charset "utf-8";

@import "reset-css";
@import "variables";

*{
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif;
}


header {
  width:100%;
  height:160px;
  background-color:$main-color;
  position:absolute;
  top:0;
}

h1 {
  width:60%;
  height:120px;
  text-align:center;
  line-height:120px;
  font-size:2.4em;
  font-weight:bold;
  @include mq(md){
    font-size:1.2em;
    width:100%;
  } 
}

.logo {
  width:120px;
  height:120px;
  position:absolute;
  top:0;
  left:0;
  text-align:center;
  i {
    line-height:120px;
    font-size:5em;
  }
}

.tel {
  width:300px;
  height:120px;
  line-height:120px;
  position:absolute;
  top:0;
  right:0;
  text-decoration:underline;
  font-size:1.6em;
  text-shadow:1px 1px 3px white;
  @include mq(md){
    top:50px;
    right:10px;
  }
}

// グローバルナビゲーション
nav {
  width:100%;
  height:60px;
  @include mq(md) {
    display:none;
  }
  
  .pc-menu {
    display:flex;
    justify-content:center;
    height:60px;
    li {
      width:20%;
      line-height:40px;
      text-align:center;
      position:relative;
      border-right:1px solid #666;
      a {
        display:inline-block;
        width:100%;
        font-size:1.2em;
        &:hover,&:focus {
          transition:all .3s;
          opacity:0.8;
          font-size:1.1em;
          color:white;
          text-decoration:underline;
          background-color:rgba(8, 107, 187, 0.603);
        }
        &:active {
          transform:translateY(2px);
        }
      }
      &:last-child {
        border-right:none;
      }
    }
  }
}

// ==== hamburger menu =====

.hamburger-menu {
  display:none;
  @include mq(md) {
    display:block;
  }
}

/* メニューボタンの位置 */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

/* 三本線のハンバーガーアイコン */
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 4px;
  width: 40px;
  border-radius: 2px;
  background-color: #333;
  position: absolute;
}
.menu-btn span:before {
  bottom: 12px;
}
.menu-btn span:after {
  top: 12px;
}

/* アイコンがクリックされた時に✗ボタンになる */
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* チェックボックスは隠す */
#menu-btn-check {
    display: none;
}

/* -----ここからメニューリスト-------- */

/* 画面いっぱいに表示 */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*画面の外に飛ばして見えなくする*/
  z-index: 80;
  background-color: $main-color;
  transition:all .5s;
}

/* チェックボタンがチェックされた時 */
#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}

.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #333;
  list-style: none;
  margin-top:30px;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 2em;
  box-sizing: border-box;
  color:#333;
  text-decoration: none;
  padding:20px;
  position: relative;
  &:hover,&:focus {
    background:rgba(8, 107, 187, 0.603);
    color:white;
  }
}

/* 三角形の矢印アイコン */
.menu-content ul li a::before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  transform: rotate(45deg);
  position: absolute;
  right: 10%;
  top: 50%;
}



