@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

html, body {
  width: 100%;
}

header {
  width: 100%;
  height: 160px;
  background-color: #9effce;
  position: absolute;
  top: 0;
}

h1 {
  width: 60%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  font-size: 2.4em;
  font-weight: bold;
}
@media screen and (max-width:768px) {
  h1 {
    font-size: 1.2em;
    width: 100%;
  }
}

.logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.logo i {
  line-height: 120px;
  font-size: 5em;
}

.tel {
  width: 300px;
  height: 120px;
  line-height: 120px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: underline;
  font-size: 1.6em;
  text-shadow: 1px 1px 3px white;
}
@media screen and (max-width:768px) {
  .tel {
    top: 50px;
    right: 10px;
  }
}

nav {
  width: 100%;
  height: 60px;
}
@media screen and (max-width:768px) {
  nav {
    display: none;
  }
}
nav .pc-menu {
  display: flex;
  justify-content: center;
  height: 60px;
}
nav .pc-menu li {
  width: 20%;
  line-height: 40px;
  text-align: center;
  position: relative;
  border-right: 1px solid #666;
}
nav .pc-menu li a {
  display: inline-block;
  width: 100%;
  font-size: 1.2em;
}
nav .pc-menu li a:hover, nav .pc-menu li a:focus {
  transition: all 0.3s;
  opacity: 0.8;
  font-size: 1.1em;
  color: white;
  text-decoration: underline;
  background-color: rgba(8, 107, 187, 0.603);
}
nav .pc-menu li a:active {
  transform: translateY(2px);
}
nav .pc-menu li:last-child {
  border-right: none;
}

.hamburger-menu {
  display: none;
}
@media screen and (max-width:768px) {
  .hamburger-menu {
    display: block;
  }
}

/* メニューボタンの位置 */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

/* 三本線のハンバーガーアイコン */
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  border-radius: 2px;
  background-color: #333;
  position: absolute;
}

.menu-btn span:before {
  bottom: 12px;
}

.menu-btn span:after {
  top: 12px;
}

/* アイコンがクリックされた時に✗ボタンになる */
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* チェックボックスは隠す */
#menu-btn-check {
  display: none;
}

/* -----ここからメニューリスト-------- */
/* 画面いっぱいに表示 */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*画面の外に飛ばして見えなくする*/
  z-index: 80;
  background-color: #9effce;
  transition: all 0.5s;
}

/* チェックボタンがチェックされた時 */
#menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #333;
  list-style: none;
  margin-top: 30px;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 2em;
  box-sizing: border-box;
  color: #333;
  text-decoration: none;
  padding: 20px;
  position: relative;
}
.menu-content ul li a:hover, .menu-content ul li a:focus {
  background: rgba(8, 107, 187, 0.603);
  color: white;
}

/* 三角形の矢印アイコン */
.menu-content ul li a::before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  transform: rotate(45deg);
  position: absolute;
  right: 10%;
  top: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

footer {
  width: 100%;
  height: 350px;
  background-color: #9effce;
  position: relative;
  padding-bottom: 100px;
}
@media screen and (max-width:768px) {
  footer {
    height: auto;
  }
}

.footer-logo {
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 5em;
}
@media screen and (max-width:768px) {
  .footer-logo {
    width: 60px;
    height: 60px;
    font-size: 4em;
    margin: 0 auto;
  }
}

.site-map {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 400px;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.site-map ul {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
.site-map ul li {
  font-weight: normal;
  padding-left: 15px;
}
.site-map ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  font-size: 0.8em;
}
.site-map ul li a:hover {
  background-color: white;
}
@media screen and (max-width:768px) {
  .site-map {
    position: static;
    display: block;
    margin: 40px auto;
  }
}

small {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  color: #777;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

html, body {
  width: 100%;
}

header {
  width: 100%;
  height: 160px;
  background-color: #9effce;
  position: absolute;
  top: 0;
}

h1 {
  width: 60%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  font-size: 2.4em;
  font-weight: bold;
}
@media screen and (max-width:768px) {
  h1 {
    font-size: 1.2em;
    width: 100%;
  }
}

.logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.logo i {
  line-height: 120px;
  font-size: 5em;
}

.tel {
  width: 300px;
  height: 120px;
  line-height: 120px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: underline;
  font-size: 1.6em;
  text-shadow: 1px 1px 3px white;
}
@media screen and (max-width:768px) {
  .tel {
    top: 50px;
    right: 10px;
  }
}

nav {
  width: 100%;
  height: 60px;
}
@media screen and (max-width:768px) {
  nav {
    display: none;
  }
}
nav .pc-menu {
  display: flex;
  justify-content: center;
  height: 60px;
}
nav .pc-menu li {
  width: 20%;
  line-height: 40px;
  text-align: center;
  position: relative;
  border-right: 1px solid #666;
}
nav .pc-menu li a {
  display: inline-block;
  width: 100%;
  font-size: 1.2em;
}
nav .pc-menu li a:hover, nav .pc-menu li a:focus {
  transition: all 0.3s;
  opacity: 0.8;
  font-size: 1.1em;
  color: white;
  text-decoration: underline;
  background-color: rgba(8, 107, 187, 0.603);
}
nav .pc-menu li a:active {
  transform: translateY(2px);
}
nav .pc-menu li:last-child {
  border-right: none;
}

.hamburger-menu {
  display: none;
}
@media screen and (max-width:768px) {
  .hamburger-menu {
    display: block;
  }
}

/* メニューボタンの位置 */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

/* 三本線のハンバーガーアイコン */
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  border-radius: 2px;
  background-color: #333;
  position: absolute;
}

.menu-btn span:before {
  bottom: 12px;
}

.menu-btn span:after {
  top: 12px;
}

/* アイコンがクリックされた時に✗ボタンになる */
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* チェックボックスは隠す */
#menu-btn-check {
  display: none;
}

/* -----ここからメニューリスト-------- */
/* 画面いっぱいに表示 */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*画面の外に飛ばして見えなくする*/
  z-index: 80;
  background-color: #9effce;
  transition: all 0.5s;
}

/* チェックボタンがチェックされた時 */
#menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #333;
  list-style: none;
  margin-top: 30px;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 2em;
  box-sizing: border-box;
  color: #333;
  text-decoration: none;
  padding: 20px;
  position: relative;
}
.menu-content ul li a:hover, .menu-content ul li a:focus {
  background: rgba(8, 107, 187, 0.603);
  color: white;
}

/* 三角形の矢印アイコン */
.menu-content ul li a::before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  transform: rotate(45deg);
  position: absolute;
  right: 10%;
  top: 50%;
}

#access {
  margin: 0 auto;
  font-size: 1.2em;
}
@media screen and (max-width:768px) {
  #access {
    font-size: 1em;
  }
}
#access .map {
  margin: 50px auto 0 auto;
  width: 90%;
  height: 500px;
  border: 1px solid #777;
  background: url(./img/accessMap.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width:768px) {
  #access .map {
    height: 300px;
  }
}

.access_content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px auto 0 auto;
  padding-bottom: 100px;
  width: 90%;
}
@media screen and (max-width:768px) {
  .access_content {
    flex-direction: column;
    align-items: center;
  }
}
.access_content table {
  padding-left: 50px;
}
.access_content table td {
  padding: 10px;
}
.access_content .clinic-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
@media screen and (max-width:768px) {
  .access_content .clinic-img {
    margin-top: 50px;
  }
}
.access_content .clinic-img img {
  width: 300px;
  height: 300px;
}

#consultation-hours {
  margin: 0 auto;
  font-size: 1.2em;
}
@media screen and (max-width:768px) {
  #consultation-hours {
    font-size: 1em;
  }
}

.ch-content table {
  background: rgba(183, 255, 183, 0.8);
  width: 90%;
  margin: 40px auto;
  border-collapse: collapse;
  border: 1px solid #333;
}
.ch-content table tr {
  border-bottom: 1px solid #333;
}
.ch-content table tr:last-child {
  border-bottom: none;
}
.ch-content table .description {
  border-right: 1px solid #333;
}
.ch-content table th, .ch-content table td, .ch-content table td i {
  padding: 15px 5px;
  text-align: center;
}
.ch-content table th span, .ch-content table td span, .ch-content table td i span {
  margin-left: 5px;
}
.ch-content table th i, .ch-content table td i, .ch-content table td i i {
  font-size: 1.4em;
}

.ch-info {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
  line-height: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

html, body {
  width: 100%;
}

header {
  width: 100%;
  height: 160px;
  background-color: #9effce;
  position: absolute;
  top: 0;
}

h1 {
  width: 60%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  font-size: 2.4em;
  font-weight: bold;
}
@media screen and (max-width:768px) {
  h1 {
    font-size: 1.2em;
    width: 100%;
  }
}

.logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.logo i {
  line-height: 120px;
  font-size: 5em;
}

.tel {
  width: 300px;
  height: 120px;
  line-height: 120px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: underline;
  font-size: 1.6em;
  text-shadow: 1px 1px 3px white;
}
@media screen and (max-width:768px) {
  .tel {
    top: 50px;
    right: 10px;
  }
}

nav {
  width: 100%;
  height: 60px;
}
@media screen and (max-width:768px) {
  nav {
    display: none;
  }
}
nav .pc-menu {
  display: flex;
  justify-content: center;
  height: 60px;
}
nav .pc-menu li {
  width: 20%;
  line-height: 40px;
  text-align: center;
  position: relative;
  border-right: 1px solid #666;
}
nav .pc-menu li a {
  display: inline-block;
  width: 100%;
  font-size: 1.2em;
}
nav .pc-menu li a:hover, nav .pc-menu li a:focus {
  transition: all 0.3s;
  opacity: 0.8;
  font-size: 1.1em;
  color: white;
  text-decoration: underline;
  background-color: rgba(8, 107, 187, 0.603);
}
nav .pc-menu li a:active {
  transform: translateY(2px);
}
nav .pc-menu li:last-child {
  border-right: none;
}

.hamburger-menu {
  display: none;
}
@media screen and (max-width:768px) {
  .hamburger-menu {
    display: block;
  }
}

/* メニューボタンの位置 */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

/* 三本線のハンバーガーアイコン */
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  border-radius: 2px;
  background-color: #333;
  position: absolute;
}

.menu-btn span:before {
  bottom: 12px;
}

.menu-btn span:after {
  top: 12px;
}

/* アイコンがクリックされた時に✗ボタンになる */
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* チェックボックスは隠す */
#menu-btn-check {
  display: none;
}

/* -----ここからメニューリスト-------- */
/* 画面いっぱいに表示 */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*画面の外に飛ばして見えなくする*/
  z-index: 80;
  background-color: #9effce;
  transition: all 0.5s;
}

/* チェックボタンがチェックされた時 */
#menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #333;
  list-style: none;
  margin-top: 30px;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 2em;
  box-sizing: border-box;
  color: #333;
  text-decoration: none;
  padding: 20px;
  position: relative;
}
.menu-content ul li a:hover, .menu-content ul li a:focus {
  background: rgba(8, 107, 187, 0.603);
  color: white;
}

/* 三角形の矢印アイコン */
.menu-content ul li a::before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  transform: rotate(45deg);
  position: absolute;
  right: 10%;
  top: 50%;
}

#medical-info {
  padding-bottom: 100px;
}

.medical-block {
  width: 86%;
  position: relative;
  margin: 100px 2% 0 12%;
}
@media screen and (max-width:768px) {
  .medical-block {
    margin: 100px auto;
    width: 90%;
  }
}
.medical-block h3 {
  position: absolute;
  top: 60px;
  left: -10%;
  z-index: 5;
  width: 180px;
  height: 180px;
  line-height: 180px;
  border-radius: 50%;
  background: #049691;
  box-shadow: 2px 1px 2px #333;
  font-size: 2em;
  text-align: center;
  color: white;
}
@media screen and (max-width:768px) {
  .medical-block h3 {
    position: static;
    margin: 20px auto;
  }
}

.medical-block_content {
  width: 100%;
  padding: 20px 20px 20px 150px;
  border-radius: 40px;
  background-color: #c1ffff;
}
@media screen and (max-width:768px) {
  .medical-block_content {
    padding: 20px;
  }
}
.medical-block_content > p {
  padding: 20px 10px;
  margin: 20px auto;
  font-size: 1.2em;
  line-height: 1.8em;
  white-space: pre-line;
}

.symptoms {
  display: flex;
}
@media screen and (max-width:768px) {
  .symptoms {
    display: block;
  }
}
.symptoms .symptoms_item {
  width: 48%;
  padding: 10px;
  margin: 20px auto;
  background-color: #ffcce5;
  border-radius: 20px;
  border: 1px solid #999;
}
@media screen and (max-width:768px) {
  .symptoms .symptoms_item {
    width: 100%;
  }
}
.symptoms .symptoms_item p {
  padding: 20px 10px;
}

h4 {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: 1.6em;
}

.about-vaccine {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width:768px) {
  .about-vaccine {
    display: block;
  }
}

.about-vaccine_circle {
  width: 49%;
  border-radius: 50%;
  margin-top: 30px;
  position: relative;
}
@media screen and (max-width:768px) {
  .about-vaccine_circle {
    width: 80%;
    margin: 30px auto;
  }
}
.about-vaccine_circle:after {
  display: block;
  position: absolute;
  top: 0;
  left: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 4px #999;
}
.about-vaccine_circle h4, .about-vaccine_circle p {
  position: absolute;
  left: 20px;
  right: 20px;
}
.about-vaccine_circle h4 {
  top: 30px;
}
.about-vaccine_circle p {
  top: 130px;
  line-height: 1.8em;
}
.about-vaccine_circle::before {
  display: block;
  content: "";
  padding-top: 100%;
}

.live-vaccine {
  background-color: #ffcce5;
}
.live-vaccine:after {
  content: "生";
  background: #ff66b1;
}

.inactivated-vaccine {
  background-color: #c1c1ff;
}
.inactivated-vaccine:after {
  content: "不活";
  background: #5b5bff;
}

.vaccine-btn {
  width: 100%;
}
.vaccine-btn a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  background-color: #049691;
  box-shadow: 2px 2px 2px #999;
  font-size: 1.2em;
  color: white;
  margin: 50px auto;
  text-align: center;
}

.vaccine-info {
  width: 80%;
  margin: 50px auto;
  position: relative;
  font-size: 1.4em;
  letter-spacing: 5px;
  padding: 30px;
}
@media screen and (max-width:768px) {
  .vaccine-info {
    font-size: 1em;
    width: 100%;
    padding: 20px;
    letter-spacing: 2px;
  }
}
.vaccine-info p {
  background: #9effce;
  margin: 0 auto;
  line-height: 2em;
  text-align: center;
  white-space: pre-line;
}
.vaccine-info span {
  font-size: 1.6em;
  font-weight: bold;
}
@media screen and (max-width:768px) {
  .vaccine-info span {
    font-size: 1.2em;
  }
}
.vaccine-info:before, .vaccine-info:after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
}
@media screen and (max-width:768px) {
  .vaccine-info:before, .vaccine-info:after {
    width: 50px;
    height: 50px;
  }
}
.vaccine-info:before {
  top: 0;
  left: 0;
  border-top: 2px solid #009944;
  border-left: 2px solid #009944;
}
.vaccine-info:after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #009944;
  border-right: 2px solid #009944;
}

.belongings {
  width: 70%;
  margin: 50px auto;
}
@media screen and (max-width:768px) {
  .belongings {
    width: 100%;
  }
}
.belongings h4 {
  border-left: 20px solid orange;
  background: #ddd;
}
.belongings li {
  padding: 10px;
  font-size: 1.2em;
}
.belongings li i {
  margin-right: 15px;
  font-size: 1.2em;
}

.medical-checkup {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
}
@media screen and (max-width:768px) {
  .medical-checkup {
    width: 100%;
  }
}
.medical-checkup .checkup-item {
  width: calc(100% / 3);
  background-size: cover;
  border: 1px solid #777;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width:768px) {
  .medical-checkup .checkup-item {
    width: 50%;
  }
}
.medical-checkup .checkup-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.medical-checkup .checkup-item:hover, .medical-checkup .checkup-item:focus {
  transform: scale(0.98, 0.98);
  opacity: 0.8;
}
.medical-checkup .checkup-item p {
  font-size: 1.8em;
  white-space: nowrap;
  color: white;
  text-shadow: 1px 1px #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.endoscopy {
  background: url(./img/endoscopy.png);
}

.ultrasonography {
  background: url(./img/ultrasonography.png);
}

.x-ray {
  background: url(./img/X-ray.png);
}

.electrocardiography {
  background: url(./img/electrocardiography.png);
}

.blood-test {
  background: url(./img/blood-test.jpg);
}

.other-inspection {
  background: url(./img/other-inspection.jpg);
}

.container {
  width: 100%;
  margin-top: 160px;
  position: relative;
}

.wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  box-shadow: 2px 1px 4px #888;
}

.parallax-image {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1280px;
  overflow-x: hidden;
  height: 100vh;
  background-image: url(./img/top-image2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1000;
}

.reserve {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 200px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
}
@media screen and (max-width:768px) {
  .reserve {
    top: auto;
    right: 50%;
    bottom: 0;
    transform: translateX(50%);
    width: 90%;
    height: 140px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.reserve .reserve_btn {
  width: 100%;
  height: 80px;
  border-radius: 100px 0 0 100px;
  background-color: #009944;
  color: white;
  font-size: 2em;
}
@media screen and (max-width:768px) {
  .reserve .reserve_btn {
    width: 46%;
    border-radius: 10px;
  }
  .reserve .reserve_btn:hover, .reserve .reserve_btn:focus {
    text-shadow: 1px 1px 3px white;
  }
  .reserve .reserve_btn:active {
    transform: translateX(4px);
  }
}
.reserve .reserve_btn:hover, .reserve .reserve_btn:focus {
  text-shadow: 1px 1px 3px white;
}
.reserve .reserve_btn:active {
  transform: translateX(4px);
}

section {
  background: #eee;
}

.top_image {
  width: 100%;
  height: 90vh;
  background-image: url(./img/top-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  opacity: 0.8;
}
.top_image::before {
  content: "";
  background: inherit;
  width: 100%;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}

.top_contents {
  position: absolute;
  top: 30vh;
  right: 0;
  left: 0;
}
.top_contents p {
  text-align: center;
  font-size: 3em;
  white-space: pre-line;
  position: relative;
  text-shadow: 1px 1px 4px white;
  z-index: 2;
}
@media screen and (max-width:768px) {
  .top_contents p {
    font-size: 1.6em;
  }
}
.top_contents p span {
  color: #009944;
  font-size: 1.4em;
  text-shadow: 1px 1px 4px #009944;
  font-family: "Hachi Maru Pop", cursive;
}
.top_contents p::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 180px;
  background-color: rgba(131, 221, 135, 0.5);
  filter: blur(50px);
  border-radius: 50%;
  z-index: -1;
}

.section-title {
  padding-top: 100px;
  font-size: 3em;
  width: 100%;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 3px white;
}
@media screen and (max-width:768px) {
  .section-title {
    font-size: 2em;
  }
}
.section-title::before {
  content: "";
  width: 400px;
  height: 12px;
  border-radius: 6px;
  background: rgba(69, 140, 253, 0.7);
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
}
@media screen and (max-width:768px) {
  .section-title::before {
    max-width: 70%;
    height: 6px;
    border-radius: 3px;
  }
}

.notice_contents {
  width: 600px;
  max-width: 90%;
  height: 400px;
  border-radius: 40px;
  border: 1px solid #666;
  margin: 20px auto 0;
  font-size: 1.2em;
}
.notice_contents .date {
  color: red;
  padding: 10px;
}
.notice_contents td {
  text-decoration: underline;
}

#medical-contents {
  width: 100%;
  height: 1300px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
#medical-contents::before {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  content: "";
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background-color: #c1ffff;
  z-index: -1;
}
#medical-contents::after {
  position: absolute;
  top: 854px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  content: "";
  width: 1200px;
  height: 400px;
  background-image: url(./img/circle-image_custom.png);
  background-repeat: no-repeat;
  z-index: -1;
}

.mc-items {
  margin: 0 auto;
  width: 78%;
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width:768px) {
  .mc-items {
    width: 100%;
    flex-direction: column;
  }
}

.mc-item {
  width: 50%;
  display: flex;
}
@media screen and (max-width:768px) {
  .mc-item {
    width: 70%;
  }
}
.mc-item h3 {
  background-color: #049691;
  width: 180px;
  height: 180px;
  box-shadow: 4px 2px 6px #777;
  border-radius: 50%;
  text-align: center;
  line-height: 180px;
  font-size: 2em;
  color: white;
}
@media screen and (max-width:768px) {
  .mc-item h3 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 1.2em;
  }
}
.mc-item p {
  margin-left: 20px;
  align-self: flex-end;
  white-space: pre-line;
  text-align: left;
}

.first-visit {
  position: absolute;
  top: 1050px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  width: 400px;
  height: 100px;
  background-color: #049691;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #666;
  color: white;
}
.first-visit a {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100px;
  color: inherit;
}
.first-visit i {
  color: inherit;
  margin-left: 20px;
}

#service {
  width: 100%;
  height: 1300px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
#service::before {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  content: "";
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background-color: #dde6b3;
  z-index: -1;
}
#service::after {
  position: absolute;
  top: 854px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  content: "";
  width: 1200px;
  height: 400px;
  background-image: url(./img/circle-image2_custom.png);
  background-repeat: no-repeat;
  z-index: -1;
}

.s-items {
  margin: 50px auto;
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
@media screen and (max-width:768px) {
  .s-items {
    flex-wrap: wrap;
    margin: 30px auto;
    height: 50%;
  }
}

.s-item {
  width: 25%;
}
@media screen and (max-width:768px) {
  .s-item {
    width: 50%;
  }
}
.s-item h3 {
  background-color: #809604;
  width: 180px;
  height: 180px;
  box-shadow: 4px 2px 6px #777;
  border-radius: 50%;
  text-align: center;
  line-height: 180px;
  font-size: 1.6em;
  color: white;
  margin: 0 auto;
}
@media screen and (max-width:768px) {
  .s-item h3 {
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 1em;
  }
}

.s-item_content {
  width: 90%;
  margin: 0 auto;
  font-size: 1.2em;
}
@media screen and (max-width:768px) {
  .s-item_content {
    font-size: 1.1em;
  }
}
.s-item_content p:first-child {
  text-align: center;
  font-weight: bold;
  padding: 30px 0;
}
@media screen and (max-width:768px) {
  .s-item_content p:first-child {
    padding: 15px 0;
  }
}

#policy {
  background: transparent;
}
#policy .section-title {
  background: linear-gradient(to bottom, #eee, transparent);
}

.pol-message {
  width: 80%;
  margin: 50px auto;
}
.pol-message .pm_first, .pol-message .pm_second {
  position: relative;
  width: 100%;
  background: rgba(200, 250, 250, 0.7);
}
.pol-message .pm_first::before, .pol-message .pm_first::after, .pol-message .pm_second::before, .pol-message .pm_second::after {
  content: "";
  width: 102%;
  height: 103%;
  border: 1px solid #777;
  position: absolute;
}
.pol-message .pm_first::before, .pol-message .pm_second::before {
  left: 0;
  top: 0;
}
.pol-message .pm_first::after, .pol-message .pm_second::after {
  right: 0;
  bottom: 0;
}
.pol-message .pm_first p:first-child, .pol-message .pm_second p:first-child {
  background: rgba(255, 255, 255, 0.8);
  width: 180px;
  height: 80px;
  border-radius: 4px;
  z-index: 3;
  position: absolute;
  top: 0;
  white-space: pre-line;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}
@media screen and (max-width:768px) {
  .pol-message .pm_first p:first-child, .pol-message .pm_second p:first-child {
    position: static;
    width: 100%;
    padding: 10px;
    height: auto;
  }
}
.pol-message .pm_first p:last-child, .pol-message .pm_second p:last-child {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 30px 30px 180px;
  z-index: 1;
  text-align: left;
  text-shadow: 1px 0 1px white;
  font-size: 1.4em;
  font-weight: 100;
  letter-spacing: -1px;
  white-space: pre-line;
}
@media screen and (max-width:768px) {
  .pol-message .pm_first p:last-child, .pol-message .pm_second p:last-child {
    padding: 10px;
    font-size: 1.2em;
  }
}
.pol-message .pm_first p:first-child {
  left: 0;
  line-height: 40px;
}
.pol-message .pm_second {
  margin-top: 50px;
}
.pol-message .pm_second p:first-child {
  right: 0;
  line-height: 80px;
}

.pol-philosophy {
  background: transparent;
  height: 400px;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #9effce);
}

.pp {
  width: 80%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width:768px) {
  .pp {
    width: 90%;
  }
}
.pp::before, .pp::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 20px;
}
.pp::before {
  left: 0;
}
.pp::after {
  right: 0;
}

.pp_title {
  font-size: 1.8em;
  text-shadow: 1px 1px 2px white;
}
.pp_title::before, .pp_title::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #333;
  position: absolute;
  top: 26px;
}
.pp_title::before {
  left: 0;
}
.pp_title::after {
  right: 0;
}

.pp_first-content {
  font-size: 2em;
  color: #CC5897;
  white-space: pre-line;
  text-shadow: 1px 0 2px white;
  background: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width:768px) {
  .pp_first-content {
    font-size: 1.2em;
  }
}

.pp_second-content {
  margin: 0 auto;
  font-size: 1.2em;
  text-shadow: 1px 0 2px white;
  width: 60%;
  text-align: left;
}
@media screen and (max-width:768px) {
  .pp_second-content {
    width: 100%;
    font-size: 0.8em;
  }
}/*# sourceMappingURL=style.css.map */